@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Bree+Serif&family=Fraunces&family=Inconsolata:wght@600;700&family=Josefin+Sans:ital,wght@0,700;1,400&family=Livvic:ital,wght@0,600;0,700;1,400;1,500;1,700&family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800&family=Road+Rage&family=Roboto:ital,wght@0,700;1,900&family=Wallpoet&display=swap');

.body{
    font-family: 'Alfa Slab One', cursive;
}
.container{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding: 20px;
    background-color: rgb(5, 5, 78);
    margin: 20px !important;
}

.h1 {
    font-size: 50px;
    border: 4px solid rgb(0, 0, 250);
}

.box{
    font-size: 50px;
}